
.app-container2 {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

    height: 100vh; /*viewport height*/
    display: flex;
    flex-direction:column; /*vertically*/
}

.chat-message-user {
	display: flex;
	justify-content: end;
    align-items: start; /*Top vertically*/
}

.chat-message-robot {
	display: flex;
    align-items: start;
	
}

.message {
	background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    max-width: 300px;
}

.image-user, .image-robot{
    width: 47px;

}

.chat-messages-container{
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll; /*If there's way many messages it will scroll, instead of pushing the app down*/
    scrollbar-width: none; /*No scroll bar*/

}


