body{
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.send-button {
	background-color: rgb(105, 57, 96);
	color: rgb(240, 240, 240);
	padding: 12px 20px; /*First value vertical*/
	margin-left: 10px;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	cursor: pointer; /*Hand pointer icon*/
}

.chat-input {
	padding: 12px 15px;
	border-radius: 10px;
	border-width: 1px;
	font-size: 15px;
}

.chat-input-container1 {
	display: flex;
	flex-grow: 1;
}

.app-container2 {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

    height: 100vh; /*viewport height*/
    display: flex;
    flex-direction:column; /*vertically*/
}

.chat-message-user {
	display: flex;
	justify-content: end;
    align-items: start; /*Top vertically*/
}

.chat-message-robot {
	display: flex;
    align-items: start;
	
}

.message {
	background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    max-width: 300px;
}

.image-user, .image-robot{
    width: 47px;

}

.chat-messages-container{
    flex-grow: 1;
    margin-top: 20px;

}


